.section {
  display: block;
  width: calc(100% - 8em);
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 120px;
  padding-bottom: 2vh;
}

#nosaltres {
  min-height: calc(98vh - 180px);
  background-color: rgb(145, 107, 198);
}


#unir-se {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #2b2632;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230f0d11' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#projectes h2 {
  padding-bottom: 0.3em;
}

.card, .cardright, .cardleft {
  border: 1px solid rgba(230, 230, 230, .5);
  background-color: rgba(16, 15, 15, 0.15);
  max-width: calc(50% - 2em);
  margin-bottom: 2em;
}

.card.right{
  animation: displacement-right 2s ease forwards;
}

.card.left{
  animation: displacement-left 2s ease forwards;
}

@keyframes displacement-right {
  from {
    transform: translateX(-70%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes displacement-left{
  from {
    transform: translateX(70%);
  }
  to {
    transform: translateX(0);
  }
}

.card-content{
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: space-between;
}

.card img, .cardright img, .cardleft img {
  width: 100%;
  height: auto;
}

.card h3, .cardright h3, .cardleft h3 {
  font-size: 40px !important;
}

.card p, .cardright p, .cardleft p {
  margin-bottom: 2em !important;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#projectes .grid {
  justify-content: space-between;
  align-items: stretch;
}

.grid-text {
  margin-right: 3em;
  margin-bottom: 1em;
}

.button {
  padding: 1.5em 2em;
  background-color: rgba(230, 230, 230, .55);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(230, 230, 230, .5);
  color: #242424 !important;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
  height: 20px;
  width: fit-content;
  text-wrap: nowrap;
}

.button:hover{
  background-color: white;
}

.footer {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: #2b2632;
  color: white;
  text-align: center;
}

.section_footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: #2b2632;
  color: white;
  text-align: center;
}


.section_footer ul {
  display: flex; /* Utiliza un diseño de caja flexible */
  justify-content: center; /* Centra los elementos horizontalmente */
  list-style-type: none; /* Quita los marcadores de lista */
}

.section_footer li {
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.section_footer p {
  font-size: 16px !important; 
  display: flex !important;
  margin-top: 10px;
  text-align: center !important;
}

h1 {
  font-size: 65px !important;
  color: white;
  font-weight: 600 !important;
  margin-bottom: 30px !important;
}

h2 {
  font-size: 30px !important;
  font-weight: 600 !important;
  text-align: left;
  color: white;
  line-height: 1.1 !important;
  margin-bottom: 30px !important;
}

h3 {
  font-size: 30px !important;
  font-weight: 600 !important;
  text-align: justify;
  color: white;
  line-height: 1.1 !important;
  margin-bottom: 30px !important;
}

p {
  font-size: 25px !important;
  color: white;
  text-align: left;
  line-height: 1.1 !important;
  margin-bottom: 20px !important;
}

a {
  color: white;
}

a:visited {
  color: white;
}

i {
  font-style: italic !important;
}

ul {
  padding-bottom: 25px !important;
}

li {
  text-align: left;
  padding-bottom: 10px !important;
}

li a {
  text-decoration: none;
}

.subtitle {
  font-size: 60px !important;
}

@media (max-width: 992px) {
  .section {
    width: calc(100% - 4em) !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
  }

  .card {
    max-width: calc(50% - 1em);
  }
}

@media (max-width: 768px) {

  .section {
    padding-top: 120px !important;
  }

  #nosaltres {
    padding-top: 120px !important;
    min-height: calc(98vh - 120px);
  }

  #unir-se {
    padding-top: 150px;
  }

  .grid {
    flex-direction: column;
  }

  .card {
    margin: 2em 0;
    max-width: 100%;
  }

  .grid-text {
    margin-right: 0;
  }

  h1 {
    font-size: 52px !important;
    margin-bottom: 20px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  #projectes h2 {
    margin-bottom: 0 !important;
  }

  .subtitle {
    font-size: 40px !important;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 40px !important;
  }
}